.navbar{
    width:100%;
    padding:20px 6%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.578)10%,transparent);
  z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    width: 90px;
    
}
.navbar-left ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar-left ul li{
   cursor: pointer;
}
.navbar-left ul li:hover{
    color: #fff;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbar-right.icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 30px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar-profile .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #7770708d;
    padding: 18px 22px;
    border-radius: 4px;
    display: none;
    z-index: 1;
    text-decoration: underline;
}
.navbar .dropdown p{
    font-size: 13px;
    color: #ffffffe5;
    cursor: pointer;
   
}
.navbar-profile:hover .dropdown{
    display: block;
}
.navbar-black{
    background: #1414144e;
}
@media(max-width:800)
{
    .navbar{
        padding: 20px 4%;
    }
    .navbar-left img{
      height: 25px;
    }
    .navbar-left ul{
        display: none;
    }
}
@media(max-width:500px)
{
    .navbar{
        padding: 20px 4%;
    }
    .navbar-left img{
      height: 25px;
    }
    .navbar-left ul{
        display: none;
    }
}
